*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body > *{
    width: 1200px;
    margin: 0 auto;
}

.img-logo{
    height: 5rem;
    border-right: 1px solid lightgrey;
    padding-right: 2rem;
}

ul{
    list-style: none;
}

.menu li + li{
    padding-left: 1em;
}

li{
    display: inline-block;
    padding-top: 2em;
    padding-bottom: 2em;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: grey;

}



.img-banner{
    border-radius: 8px;
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: relative;
    filter: brightness(75%);
    
}


section img:hover, a:hover{
    filter: drop-shadow(10px 10px 20px grey);
    
}

.container-banner-text{
    display: inline-block;
    position: relative;
    bottom: 6rem;
    left: 4rem;
    width: 50%;
    margin-top: -100px;
    color: white;
    
}


.container-articles{
    padding-bottom: 1.5rem;
    margin-bottom: 0;

}

.section-title{
    font-size: 2.5em;
    font-weight: bold;
}

.section-subtitle{
    font-weight: lighter;
    margin-bottom: 1.5em;
}

/* clearfix */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.img-left, .img-middle, .img-right{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    filter: brightness(75%);
}


.column{
    width: 20%;
    margin: 1.5rem;
    margin-left: 0;
    
}

.column h5, p{
    margin-top: 1em;
}

.column, .left{
    float: left;
}

.column.middle{
    width: calc(60% - 3rem);
    object-fit: cover;
}

.column.right{
    float: right;
    margin-right: 0;
}

footer:last-child{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

.footer-sign::after{
    content: "\2764";
    color: red;
    text-align: center;
    margin: 0.3em;
}

.footer-sign{
    text-align: center;
}